:root {
    --main-color: #0D6EFD;
    --alt-color: #CFE2FF;
    --main-border-radius: 8px;
    --background-color: #E9ECEF;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container-xl .app {
    margin: 30px auto 30px;
    width: 75%;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 0 8px -3px rgba(0, 0, 0, 0.5);
}

@media (max-width: 991px) {
    .container-xl .app {
        width: 90%;
    }
}

@media (max-width: 767px) {
    .container-xl .app {
        width: 100%;
        padding: 10px;
    }
}

.container-xl .app .title {
    text-align: center;
    color: var(--main-color);
    margin-bottom: 30px;
}

@media (max-width: 767px) {
    .container-xl .app .title {
        margin-bottom: 25px;
    }
}

.container-xl .app .form {
    background-color: var(--alt-color);
    display: flex;
    border-radius: var(--main-border-radius);
    border: 1px solid var(--main-color);
}

.container-xl .app .form input {
    flex: 1;
    width: 80%;
    border: none;
    font-size: 20px;
    padding: 0 10px;
    border-top-left-radius: var(--main-border-radius);
    border-bottom-left-radius: var(--main-border-radius);
    caret-color: var(--main-color);
    color: var(--main-color);
}

.container-xl .app .form input:focus {
    outline: none;
}

.container-xl .app .form input::selection {
    background-color: var(--alt-color);
    color: var(--main-color);
}

.container-xl .app .form button {
    padding: 6px 0;
    width: 20%;
    border: none;
    font-size: 24px;
    font-weight: 500;
    background-color: var(--main-color);
    color: white;
    border-top-right-radius: var(--main-border-radius);
    border-bottom-right-radius: var(--main-border-radius);
}

.container-xl .app .form button:hover {
    font-weight: bold;
}

@media (max-width: 767px) {
    .container-xl .app .form button {
        font-size: 22px;
    }
}

@media (max-width: 399px) {
    .container-xl .app .form button {
        font-size: 20px;
    }
}

.container-xl .app .tasks {
    background-color: var(--background-color);
    margin-top: 30px;
    border-radius: var(--main-border-radius);
}

.container-xl .app .tasks .task {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 20px;
    color: var(--main-color);
    padding: 15px;
    /* opacity: 1; */
    /* transform: translateY(0); */
}

.container-xl .app .tasks .task.fade-out {
    opacity: 0;
    transform: translateY(15px);
    transition: opacity 0.4s ease, transform 0.4s ease;
}


.container-xl .app .tasks .task:not(:last-child) {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.container-xl .app .tasks .task i {
    cursor: pointer;
}

.container-xl .app .tasks .task p {
    margin: 0;
    flex: 1;
    position: relative;
    line-height: 20px;
}

.container-xl .app .tasks .task.done p::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    width: 100%;
    height: 1px;
    background-color: rgba(0, 0, 0, 0.4);
}

.container-xl .app .tasks .task i:last-child {
    color: #DC3545;
}

.btn-close:focus {
    box-shadow: none;
}

/* toast */
.container-xl .notes {
    display: flex;
    flex-direction: column;
    gap: 15px;
    position: fixed;
    bottom: 15px;
    right: 15px;
    margin-left: 15px;
    min-width: 290px;
}

@media (max-width: 399px) {
    .container-xl .notes {
        width: calc(100% - 30px);
    }
}

.container-xl .notes .note {
    display: flex;
    align-items: center;
    color: var(--main-color);
    border-radius: var(--main-border-radius) var(--main-border-radius) 4px 4px;
    padding: 15px 20PX;
    box-shadow: 0 0 8px -3px rgba(0, 0, 0, 0.5);
    font-size: 20px;
    position: relative;
    transform: translateX(100%);
    animation: move 0.5s linear forwards;
}

@keyframes move {
    100% {
        transform: translateX(0%);
    }
}

.container-xl .notes .note::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 4px;
    background-color: var(--main-color);
    border-bottom-left-radius: var(--main-border-radius);
    border-bottom-right-radius: var(--main-border-radius);
    animation: line 4s linear forwards;
}

@keyframes line {
    100% {
        width: 100%;
    }
}

.container-xl .notes .note i {
    margin-right: 10px;
}